// ----------------================ BAR ================---------------- //
* { all: unset; }

.bar {
    background: rgba(255, 255, 255, 0);
    margin: 0 0.5rem;
}
label {
    font-size: 18px;
    color: #7169b5;
    transition: color 0.2s ease-in-out;
}
.border {
    border: 2px solid #7169b5;
    border-radius: 10px;
    background: rgb(43, 34, 98, 0.8);
}

// ----------------================ LEFT-PART ================---------------- //
.occupied {
    label {
        padding-right: 5px;
    }
}
.workspace-entry {
    label {
        margin: 0px 10px 0px 10px;
    }
}

// ----------------================ MIDDLE-PART ================---------------- //
.clock {
    margin: 0 20px;
}
.low-battery {
    label {
        color: #ff5e5e;
        margin: 0px 20px 0px 20px;
    }
    border: 2px solid #ff5e5e;
    border-radius: 10px;
    background: rgba(128, 47, 47, 0.8)
}


// ----------------================ RIGHT-PART ================---------------- //

// Music
.music {
    margin-right: 20px;
    background: rgb(43, 34, 98, 1);
    label {
        color: #918bc6;
    }
}
.music-inside {
    margin: 0px 20px;
}
.cover-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.15; 
}
.cover {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    min-height: 40px;
    min-width: 40px;
    margin: 5px 20px 5px 0px;
}

// Battery
.battery {
    margin-left: 10px;
    margin-right: 13px;
    label {
        margin-left: 10px;
    }
}
.battery-low {
    label {
        color: #ff5e5e;
    }
}
.battery-charging {
    label {
        color: #4bcc7c;
    }
}

// Sound
.sound {
    margin-left: 15px;
    margin-right: 11px;
    > label {
        margin-right: 15px;
    }
}
.disable {
    label {
        color: #453795;
    }
    > label {
        margin-right: 11px;
    }
}

// Light
.light {
    margin: 0 16px 0 18px;
}
.light-num {
    margin-left: 12px;
}

// Wifi
.wifi-icon {
    margin: 0px 30px 0px 18px;
}

// ----------------================ POPUP ================---------------- //
.music-popup {
    border-radius: 20px;
    background: rgb(43, 34, 98, 1);
    .cover {
        margin: 30px 50px 0px 50px;
        min-height: 200px;
    }
}
.music-popup-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.10; 
}
.music-popup-content {
    scale {
    }
    scale trough highlight {
        border: 2px solid #7169b5;
        border-radius: 10px;
    }
    scale trough {
        background: rgb(43, 34, 98, 1);
        border: 2px solid #7169b5;
        border-radius: 10px;
        min-height: 3px;
        min-width: 50px;
        margin: 0 40px;
    }
}
.music-popup-title {
    margin-top: 1em;
    font-size: 2em;
}
.music-popup-artist {
    margin-top: 1em;
}
.music-buttons {
    margin-right: 5px;
    margin-top: 1em;
    label {
        padding-top: 20px;
        font-size: 2em;
    }
}
.music-button {
    margin-right: 5px;
    label {
        font-size: 5em;
        padding: 0 20px;
    }
}
.button-desactive {
    color: #433d7b;
}
.hover {
    color: #918bc6;
}
