// ----------------================ BAR ================---------------- //
* { all: unset; }

$border: #77997e;
$background: #0b1123;
$desactive: #263b37;
$hover: #688790;
$red-bg: #662525;
$red: #ff5e5e;
$green: #4bcc7c;

$opacity: 0.8;

.bar {
    margin: 0 2rem;
    padding-bottom: 0.5rem;
}
label {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: $border;
    transition: color 0.2s ease-in-out;
    padding-top: 2px;
}
.border {
    border: 2px solid $border;
    border-radius: 10px;
    background: $background;
    opacity: $opacity;
}
tooltip {
    border: 2px solid $border;
    border-radius: 10px;
    background: $background;
    opacity: $opacity;
}

// ----------------================ LEFT-PART ================---------------- //
.occupied {
    label {
        padding-right: 5px;
    }
}
.workspace-entry {
    label {
        margin: 0px 10px 0px 10px;
    }
}

// ----------------================ MIDDLE-PART ================---------------- //
.clock {
    margin: 0 20px;
}
.low-battery {
    label {
        color: $red;
        margin: 0px 20px 0px 20px;
    }
    border: 2px solid $red;
    border-radius: 20px;
    background: $red-bg;
    opacity: $opacity;
}

// ----------------================ RIGHT-PART ================---------------- //

// Music
.music {
    margin-right: 20px;
    background: $background;
}
.music-inside {
    margin: 0px 20px;
    padding-bottom: 2px;
}
.cover-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.15; 
}
.cover {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    min-width: 40px;
    margin: 5px 20px 5px 0px;
}

// Battery
.battery {
    margin-left: 10px;
    margin-right: 13px;
    label {
        margin-left: 10px;
    }
}
.battery-low {
    label {
        color: $red;
    }
}
.battery-charging {
    label {
        color: $green;
    }
}

// Sound
.sound {
    margin-left: 15px;
    margin-right: 11px;
    > label {
        margin-right: 15px;
    }
}
.disable {
    label {
        color: $desactive;
    }
    > label {
        margin-right: 11px;
    }
}

// Light
.light {
    margin: 0 16px 0 18px;
}
.light-num {
    margin-left: 12px;
}

// Wifi
.wifi-icon {
    margin: 0px 30px 0px 18px;
}

// ----------------================ POPUP ================---------------- //
.button-desactive {
    color: $desactive;
}
.hover {
    color: $hover;
}
.popup-element {
  margin-bottom: 20px;
}
.button-popup {
  margin: 0 120px;
  margin-bottom: 20px;
  min-height: 50px;
  label {
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
  }

}

// ----------------================ MUSIC-POPUP ================---------------- //
.music-popup {
    min-height: 480px;
    border-radius: 20px;
    background: $background;
    .cover {
        margin: 30px 50px 0px 50px;
        min-height: 200px;
    }
}
.music-popup-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: 0.10; 
}
.music-popup-content {
    scale {
    }
    scale trough highlight {
        border: 2px solid $border;
        border-radius: 10px;
    }
    scale trough {
        background: $background;
        border: 2px solid $border;
        border-radius: 10px;
        min-height: 3px;
        min-width: 50px;
        margin: 0 40px;
    }
}
.music-popup-title {
    margin-top: 1em;
    font-size: 2em;
}
.music-popup-artist {
    margin-top: 1em;
}
.music-buttons {
    margin-right: 5px;
    margin-top: 1em;
    label {
        padding-top: 20px;
        font-size: 2em;
    }
}
.music-button {
    margin-right: 5px;
    label {
        font-size: 5em;
        padding: 0 20px;
    }
}

// ----------------================ LIGHT-POPUP ================---------------- //
.light-popup {
    scale {
        margin-left: 10px;
        min-width: 300px;
    }
    scale trough highlight {
        background: $border;
        border: 2px solid $border;
        border-radius: 10px;
        min-width: 10px;
    }
    scale trough {
        border: 2px solid $border;
        border-radius: 10px;
        min-width: 50px;
        min-height: 10px;
    }
    label {
        margin: 0 15px 0 15px;
        font-size: 2em;
    }
}

// ----------------================ SOUND-POPUP ================---------------- //
.sound-popup {
  scale {
    margin-left: 10px;
    min-width: 300px;
  }
  scale trough highlight {
    background: $border;
    border: 2px solid $border;
    border-radius: 10px;
    min-width: 10px;
  }
  scale trough {
    border: 2px solid $border;
    border-radius: 10px;
    min-width: 50px;
    min-height: 10px;
  }
  label {
    margin: 0 15px 0 15px;
    font-size: 2em;
  }
}

// ----------------================ UPGRADE-POPUP ================---------------- //

.upgrade-popup {
    min-width: 380px;
    min-height: 160px;
}

.upgrade-popup-title {
    margin-top: 1em;
    font-size: 2em;
}

.upgrade-popup-input {
  margin: 0px 40px 25px 40px;
    border: 2px solid $border;
    border-radius: 10px;
    background: $background;
    font-size: 20px;
    padding-left: 10px;
}

.upgrade-popup-close {
  margin: 0px 40px 25px 40px;
  font-size: 20px;
}
