*
!.gitignore
!.gdbinit
!README.md
!alacritty/
!betterlockscreen/
!bspwm/
!dunstrc
!eww/
!flameshot/
!hypr/
!i3/
!neofetch/
!nvim/
!pavucontrol.ini
!picom.conf
!polybar/
!rofi/
!scripts/
!swaylock/
!sxhkd/
